// About Page

body.about {
  // Header Video
  .header-video {
    padding: 0;
    position: relative;

    #loading-spinner {
      position: absolute;
      @include media-md {
        margin-left: -#{$padding-lg / 2};
      }
    }

    .video {
      height: 0;
      opacity: 1;
      width: 100%;
      overflow: hidden;
      position: relative;
      padding-bottom: 63.492%;
      background-color: color('gray-light');

      &.is-hidden {
        iframe {
          opacity: 0;
        }
      }
    }

    iframe {
      top: 50%;
      left: 50%;
      width: 100vw;
      height: 56.25vw;
      min-height: 100vh;
      position: absolute;
      min-width: 177.77vh;
      transition: opacity .5s ease-out;
      transform: translate(-50%, -50%);
    }

    @include media-md {
      padding-left: 0;
      padding-right: 0;
      margin: 0 -#{$padding-lg} 0 0;

      .video {
        padding-bottom: 50%;
      }
    }
  }

  .page-content {
    padding: $padding-md 0;

    @include media-md {
      max-width: 75%;
      padding: 100px 0;
    }
    p {
      @include paragraph-style(20, 40, .06em, normal);
      margin: 0;
    }
  }

  .stats {
    @extend .semantic-list;
    display: flex;
    flex-wrap: wrap;
    margin-left: -$padding-sm;
    width: calc(100% + #{$padding-sm * 2});

    .stat {
      max-width: 50%;
      flex-basis: 50%;
      padding: 0 $padding-sm;
      margin-bottom: $padding-sm;

      h5 {
        @include h2;
        margin: 0;
      }

      p {
        @include type-caption;
      }
    }

    @include media-md {
      max-width: 75%;
    }

    @include media-xl {
      margin-left: -$padding-md;
      width: calc(100% + #{$padding-md * 2});

      .stat {
        padding: 0 $padding-md;
        max-width: columns(1,3);
        flex-basis: columns(1,3);
        margin-bottom: $padding-md;
      }
    }
  }

  .platform-section {
    padding: $padding-lg 0;
    margin-top: $padding-lg;
    background-color: color('gray-light');

    @include media-md {
      margin-top: 112px;
      padding: 100px 0;
    }

    h2 {
      @include h2;
    }

    .platform {
      @extend .semantic-list;
      display: flex;
      flex-wrap: wrap;
      margin-top: 100px;

      @include media-sm {
        margin-left: -$beat * 2;
        width: calc(100% + #{$beat * 4});
      }

      @include media-md {
        margin-left: -#{$padding-md / 2};
        width: calc(100% + #{$padding-md});
      }
    }

    .platform-item {
      margin-bottom: $padding-lg;

      .icon {
        text-align: left;
        margin-bottom: 48px;

        img {
          height: 100%;
          max-height: 96px;
          vertical-align: top;
        }
      }
      h5 {
        @include h4;
        margin: 0;
      }
      p {
        margin-top: 0;
      }

      @include media-sm {
        max-width: 50%;
        flex-basis: 50%;
        padding: 0 #{$beat * 2};
      }

      @include media-md {
        max-width: none;
        flex-basis: auto;
        padding: 0 #{$padding-md / 2};

        > .-inner {
          max-width: 200px;
        }
      }
    }
  }
}