// Media Page

.page.media {
  .site-main {
    padding-bottom: 282px;
  }

  .media-sources {
    @extend .semantic-list;
    display: flex;

    li {
      display: flex;
      margin: 0 #{$beat * 2} #{$beat * 2} 0;

      img {
        width: 100%;
        max-width: 120px;
      }
    }

    @include media-md {
      li {
        margin: 0 0 48px 59px;
      }
    }
  }

  .media-publications {
    @extend .semantic-list;
    margin: #{$beat * 10} 0 0;
    border-bottom: 1px solid color('gray-mid');

    @include media-md {
      margin-right: $beat;
    }

    .year {
      border-top: 1px solid color('gray-mid');
      padding: #{$beat * 3} 0 #{$beat * 5};


      > .container {
        display: flex;
      }

      .year-label {
        @include h5;
        margin: 0;
        flex-basis: 85px;
        color: color('red');
      }

      .publications-list {
        flex-grow: 1;

        tr {
          @include p1;

          .publication {
            padding-right: 18px;
            vertical-align: top;
          }

          a {
            @include inline-link(transparent);
          }
        }
      }
    }
  }
}