// Media Page

.page.media {
  .site-main {
    padding-bottom: 282px;
  }

  .page-header {
    @include media-md {
      padding-bottom: 66px;
    }
  }

  .media-sources {
    @extend .semantic-list;
    display: flex;

    li {
      display: flex;
      margin: 0 #{$beat * 2} #{$beat * 2} 0;

      img {
        width: 100%;
        max-width: 120px;
      }
    }

    @include media-md {
      padding-left: 26px;
      li {
        margin: 0 0 24px 59px;
      }
    }
  }

  .media-publications {
    @extend .semantic-list;
    margin: #{$beat * 10} 0 0;
    border-bottom: 1px solid color('gray-mid');

    @include media-md {
      margin-right: $beat;
    }

    .year {
      border-top: 1px solid color('gray-mid');
      padding: #{$beat * 3} 0 #{$beat * 5};


      > .container {
        @include media-md {
          display: flex;
        }
      }

      .year-label {
        @include h5;
        margin: 0;
        flex-basis: 85px;
        color: color('red');
      }

      .publications-list {
        flex-grow: 1;

        tr {

          td {
            width: 100%;
            display: block;
            vertical-align: top;

            @include media-md {
              width: auto;
              display: table-cell;
            }
          }

          .publication {
            @include h5;
            line-height: 18px;
            padding-right: 18px;
            vertical-align: bottom;

            @include media-md {
              width: 200px;
            }
          }

          .link {
            @include p1;
            padding-bottom: $beat;

            @include media-md {
              padding-bottom: 0;
            }
          }

          a {
            @include inline-link(transparent);
          }
        }
      }
    }
  }
}