// Single Project Template

body.single-project {
  // Header Video
  .header-video {
    position: relative;
    margin: #{$padding-sm} -#{$beat} #{$padding-md} 0;

    #loading-spinner {
      position: absolute;
      @include media-md {
        margin-left: -#{$padding-lg / 2};
      }
    }

    .video {
      height: 0;
      opacity: 1;
      width: 100%;
      overflow: hidden;
      position: relative;
      padding-bottom: 63.492%;
      background-color: color('gray-light');

      &.is-hidden {
        iframe {
          opacity: 0;
        }
      }
    }

    iframe {
      top: 50%;
      left: 50%;
      width: 100vw;
      height: 56.25vw;
      min-height: 100vh;
      position: absolute;
      min-width: 177.77vh;
      transition: opacity .5s ease-out;
      transform: translate(-50%, -50%);
    }

    @include media-md {
      margin: 0 -#{$padding-lg} 0 0;

      .video {
        padding-bottom: 50%;
      }
    }
  }

  .header-carousel,
  .header-image {
    position: relative;
    margin: #{$padding-sm} -#{$beat} #{$padding-md} 0;

    .image {
      height: 0;
      width: 100%;
      display: block;
      padding-bottom: 63.492%;
      background-size: cover;
      transition: opacity .5s ease-out;
    }

    @include media-md {
      margin: 0 -#{$padding-lg} 0 0;

      .image {
        padding-bottom: 50%;
      }
    }
  }

  .header-carousel {
    opacity: 0;
    padding-bottom: 63.492%;
    transition: opacity .5s ease-out;
    &.flickity-enabled {
      opacity: 1;
    }

    @include media-md {
      padding-bottom: 50%;
    }

    .flickity-viewport {
      top: 0;
      left: 0;
      right: 0;
      position: absolute;

      @include media-md {
        left: $padding-lg;
      }
    }

    .image {
      opacity: 0!important;
      &.is-selected {
        opacity: 1!important;
      }
    }

    .flickity-page-dots {
      left: 0;
      bottom: $beat * 3;

      .dot {
        opacity: 1;
        height: 5px;
        width: 50px;
        border-radius: 0;
        background-color: transparent;
        border: 1px solid color('white');
        transition: background-color .2s ease-out;
        &:hover,
        &.is-selected {
          background-color: color('white');
        }
      }

      @include media-md {
        left: auto;
        bottom: 110px;
        right: $padding-lg / 2;

        .dot {
          width: 72px;
        }
      }
    }
  }

  .project-info {
    .top-row {
      border-bottom: 1px solid color('gray-mid');

      > div {
        padding: 0 0 $padding-md;
      }

      @include media-md {
        > div {
          padding: $padding-lg 0;
          &:first-of-type {
            border-right: 1px solid color('gray-mid');
          }
        }
      }
    }

    .project-title {
      margin: 0;

      &,.first {
        @include numbers-lg;
        display: block;
      }
      .first {
        margin: 0 0 #{$beat * 2} -.09em; // offset for optical align-left
      }
      .second {
        @include h4;
        display: block;
        margin-bottom: -#{$beat * 2};
      }
    }

    .locality {
      @include h4;
      margin: #{$beat * 2} 0 0;
    }

    .square-footage {
      @include dashed-rule(after);
      @include p1;
      padding-bottom: 1em;
      display: inline-block;
      margin: $padding-md 0 0;
    }

    .description {
      p {
        &:first-of-type {
          margin-top: 0;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .callout {
      margin: $padding-md 0 0;

      h5 {
        @include h5;
        margin: 0;
      }

      .callout-copy {
        p:first-of-type {
          margin-top: 0;
        }
      }
    }

    .downloads {
      text-align: left;
      padding: $padding-md 0;
      border-bottom: 1px solid color('gray-mid');

      h3 {
        @include h4;
        margin: 0 0 $padding-sm;
      }

      ul {
        @extend .semantic-list;

        li {
          display: inline-block;
          margin-bottom: $padding-sm;

          + li {
            margin-left: $padding-sm;
          }
        }

        a {
          @include p1;
          color: color('red');
          @include inline-link('red');
        }
      }

      @include media-md {
        border-bottom: none;
        padding: $padding-lg 0;
        outline: 1px solid color('gray-mid');
      }
    }

    // If project is empty
    + .project-navigation {
      margin-top: -1px;
    }
  }

  .project-images {
    padding: $padding-md 0;

    figure {
      margin: 0 0 $beat;

      img {
        width: 100%;
        vertical-align: top;
      }

      figcaption {
        max-width: 540px;
        margin-bottom: $padding-md;
        p {
          @include type-caption;
        }
      }
    }

    @include media-md {
      padding: 100px 0 112px;

      > .-inner {
        display: grid;
        grid-gap: $beat * 2;
        grid-template-columns: 1fr 1fr;
      }

      figure {
        margin: 0;

        &.small {
          grid-column: span 1;
        }
        &.medium {
          grid-column: span 2;
          padding-right: columns(1,4);
        }
        &.large {
          grid-column: span 2;
        }

        figcaption {
          margin-bottom: $padding-lg;
        }
      }
    }
  }
}

// Project Video
.project-video-container {
  position: relative;
  margin-top: $padding-lg;

  .video-thumb {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    position: absolute;
    padding-bottom: 56.25%;
    background-size: cover;
    transition: opacity .5s ease-out;
    background-position: center center;
    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      content: '';
      opacity: .65;
      position: absolute;
      pointer-events: none;
      background-color: color('white');
      transition: opacity .2s ease-out;
    }

    svg {
      top: 50%;
      left: 50%;
      z-index: 1;
      width: 263px;
      height: 263px;
      max-width: 75%;
      max-height: 75%;
      cursor: pointer;
      position: absolute;
      fill: color('red');
      transform: translate(-50%, -50%);
    }
  }

  &.playing {
    .video-thumb {
      opacity: 0;
      pointer-events: none;
    }
  }

  .project-video {
    position: relative;

    iframe {
      width: 100%;
    }
  }

  @include media-md {
    width: columns(12,16);
    margin-top: $beat * 11;
  }
}

.project-navigation {
  margin: $padding-md 0 0;
  border-top: 1px solid color('gray-mid');

  > div > .-inner {
    padding-top: $beat * 5;
    padding-bottom: $beat * 5;
  }

  .next-container {
    position: relative;
    &::after {
      top: 0;
      bottom: 0;
      left: -1px;
      width: 1px;
      content: '';
      position: absolute;
      border-left: 1px solid color('gray-mid');
    }
  }

  .project-link {
    margin: 0 0 85px;

    a {
      color: color('red');
      @include inline-link('red');
    }
  }

  .project-title {
    margin: 0;

    &,.first {
      @include h3;
      display: block;
    }
    .first {
      margin: 0 0 12px;
    }
    .second {
      @include h4;
      display: block;
      margin-bottom: -$beat;
    }
  }

  .locality {
    @include h4;
    margin: $beat 0 0;
  }

  @include media-md {
    margin-top: $beat * 15;

    .next-container {
      padding-bottom: 23%;
      &::after {
        bottom: $beat * 4;
      }
    }

    .next-thumb {
      height: 0;
      bottom: 0;
      position: absolute;
      background-size: cover;
      padding-bottom: 45.977%;
      margin-left: -$padding-lg;
      width: calc(100% + #{$padding-lg});
      transition: padding-bottom .2s ease-out;

      &.-hover {
        padding-bottom: 48%;
      }
    }
  }
}

// Slider icon
.cocoen-drag {
  background-color: transparent;
  &::before,
  &::after {
    display: none;
  }
  svg {
    top: 50%;
    left: 50%;
    width: 120px;
    height: 1240px;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}