// Single Project Template

body.single-project {
  .header-carousel,
  .header-image {
    position: relative;
    margin-bottom: $padding-sm;
    margin-right: -$padding-sm;

    @include media-md {
      margin-bottom: 0;
      margin-right: -$padding-lg;
    }

    .image {
      height: 0;
      width: 100%;
      display: block;
      padding-bottom: 50%;
      background-size: cover;
      transition: opacity .5s ease-out;
    }
  }

  .header-carousel {
    .flickity-viewport {
      transition: height .2s ease-out;
    }

    .image {
      opacity: 0!important;
      &.is-selected {
        opacity: 1!important;
      }
    }

    .flickity-page-dots {
      bottom: $padding-md;

      .dot {
        opacity: 1;
        height: 5px;
        width: 72px;
        border-radius: 0;
        background-color: transparent;
        border: 1px solid color('white');
        &.is-selected {
          background-color: color('white');
        }
      }

      @include media-md {
        bottom: 110px;
        right: $padding-lg / 2;
      }
    }
  }

  .project-info {
    .top-row {
      border-bottom: 1px solid color('black');

      > div {
        padding: 0 0 $padding-md;
      }

      @include media-md {
        > div {
          padding: $padding-lg 0;
          &:first-of-type {
            border-right: 1px solid color('black');
          }
        }
      }
    }

    .project-title {
      margin: 0;

      &,.first {
        @include numbers-lg;
        display: block;
      }
      .first {
        margin: 0 0 #{$beat * 2};
      }
      .second {
        @include h4;
        display: block;
        margin-bottom: -#{$beat * 2};
      }
    }

    .locality {
      @include h4;
      margin: #{$beat * 2} 0 0;
    }

    .square-footage {
      @include dashed-rule(after);
      @include p1;
      padding-bottom: 1em;
      display: inline-block;
      margin: $padding-md 0 0;
    }

    .description {
      p {
        &:first-of-type {
          margin-top: 0;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .callout {
      margin: $padding-md 0 0;

      h5 {
        @include h5;
        margin: 0;
      }

      .callout-copy {
        p:first-of-type {
          margin-top: 0;
        }
      }
    }

    .downloads {
      text-align: left;
      padding: $padding-md 0;
      border-bottom: 1px solid color('black');

      h3 {
        @include h4;
        margin: 0 0 $padding-sm;
      }

      ul {
        @extend .semantic-list;

        li {
          display: inline-block;
          margin-bottom: $padding-sm;

          + li {
            margin-left: $padding-sm;
          }
        }

        a {
          @include p1;
          color: color('red');
        }
      }

      @include media-md {
        border-bottom: none;
        padding: $padding-lg 0;
        outline: 1px solid color('black');
      }
    }
  }

  .project-images {
    padding: $padding-md 0;

    figure {
      margin: 0 0 $beat;

      img {
        width: 100%;
        vertical-align: top;
      }

      figcaption {
        max-width: 540px;
        margin-bottom: $padding-md;
        p {
          @include type-caption;
        }
      }
    }

    @include media-md {
      padding: $padding-lg 0;

      > .-inner {
        display: grid;
        grid-gap: $beat * 2;
        grid-template-columns: 1fr 1fr;
      }

      figure {
        margin: 0;

        &.small {
          grid-column: span 1;
        }
        &.medium {
          grid-column: span 2;
          padding-right: columns(1,4);
        }
        &.large {
          grid-column: span 2;
        }

        figcaption {
          margin-bottom: $padding-lg;
        }
      }
    }
  }
}

// Project Video
.project-video {
  position: relative;
  margin-top: $beat * 11;
  &::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    content: '';
    opacity: .65;
    position: absolute;
    pointer-events: none;
    background-color: color('white');
    transition: opacity .2s ease-out;
  }

  iframe {
    width: 100%;
  }

  svg {
    top: 50%;
    left: 50%;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    fill: color('red');
    transform: translate(-50%, -50%);
  }

  &.playing {
    &::before {
      opacity: 0;
    }
    .project-video-play {
      display: none;
    }
  }

  @include media-md {
    width: columns(12,16);
  }
}

.project-navigation {
  margin: $padding-md 0 0;
  border-top: 1px solid color('gray-mid');

  > div > .-inner {
    padding-top: $beat * 5;
    padding-bottom: $beat * 5;
  }

  .next-container {
    position: relative;
    &::after {
      top: 0;
      bottom: 0;
      left: -1px;
      width: 1px;
      content: '';
      position: absolute;
      border-left: 1px solid color('gray-mid');
    }
  }

  .project-link {
    margin: 0 0 85px;

    a {
      color: color('red');
      text-decoration: underline;
    }
  }

  .project-title {
    margin: 0;

    &,.first {
      @include h3;
      display: block;
    }
    .first {
      margin: 0 0 12px;
    }
    .second {
      @include h4;
      display: block;
      margin-bottom: -$beat;
    }
  }

  .locality {
    @include h4;
    margin: $beat 0 0;
  }

  @include media-md {
    margin-top: $beat * 15;

    .next-thumb {
      height: 0;
      background-size: cover;
      padding-bottom: 45.977%;
      margin-left: -$padding-lg;
      width: calc(100% + #{$padding-lg});
    }
  }
}

// Slider icon
.cocoen-drag {
  background-color: transparent;
  &::before,
  &::after {
    left: 50%;
    width: 2px;
    content: '';
    height: 40%;
    position: absolute;
    background-color: color('red');
  }
  &::before {
    top: 0;
    margin: 0;
    border: none;
  }
  &::after {
    bottom: 0;
  }
  svg {
    top: 0;
    left: 50%;
    width: 120px;
    height: 100%;
    position: absolute;
    transform: translateX(-50%);
  }
}