// Animations

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes nav-toggle-top-active {
  0% {
    top: 0;
    transform: none;
  }
  45%,55% {
    top: 50%;
    transform: none;
  }
  100% {
    top: 50%;
    transform: rotate(30deg);
  }
}

@keyframes nav-toggle-bottom-active {
  0% {
    bottom: 0;
    transform: none;
  }
  45%,55% {
    bottom: 50%;
    transform: none;
  }
  100% {
    bottom: 50%;
    transform: rotate(-30deg);
  }
}

@keyframes nav-toggle-top {
  0% {
    top: 50%;
    transform: rotate(30deg);
  }
  45%,55% {
    top: 50%;
    transform: none;
  }
  100% {
    top: 0;
    transform: none;
  }
}

@keyframes nav-toggle-bottom {
  0% {
    bottom: 50%;
    transform: rotate(-30deg);
  }
  45%,55% {
    bottom: 50%;
    transform: none;
  }
  100% {
    bottom: 0;
    transform: none;
  }
}

// Homepage Animaiton
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes homepageAnimationLogo {
  0% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes homepageAnimationWord {
  0% {
    opacity: 0;
    transform: translateX(35px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}