// Color Themes

@mixin colorTheme($primary, $secondary) {
  color: color($secondary);
  background-color: color($primary);

  // Background Color Primary
  .page-header::after {
    background-color: color($primary);
  }
  // Background Color Secondary
  .nav-toggle::before,
  .nav-toggle::after,
  .site-main::before {
    background-color: color($secondary);
  }

  // Text Color Secondary
  .site-footer .contact-link,
  .filters button.filters-close {
    color: color($secondary);
  }

  // SVG fill Secondary
  .site-header .site-logo svg,
  .filters .filters-toggle svg,
  .filters button.filter svg {
    fill: color($secondary);
  }

  // Site Nav
  .site-nav {
    @include media-nav {
      ul a {
        color: color($secondary);
        background-image: linear-gradient(180deg,transparent 94%,color($secondary) 0);
      }
    }
  }

  // Filters
  .filters .filters-container::before {
    background-color: rgba(color($primary),.95);
  }
}

// Dark Theme
.theme-dark {
  @include colorTheme('black', 'white');
}