// Styling of content that is editable in wysiwyg

.user-content {
  @include clearfix();

  hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid color('black');
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  a {
    @include inline-link;
  }

  ul, ol {
    li {
      @include p1;
    }
  }
}
