// Filters

.filters {
  position: relative;
  padding-bottom: $beat * 3;

  .toggle-container {
    @include media-md {
      width: columns(2,16);
    }
  }

  .filters-toggle {
    @extend .button-reset;
    @include h4;
    z-index: 3;
    position: relative;
    background: color('white');

    svg {
      top: -2px;
      width: 7px;
      height: 4px;
      margin-left: 4px;
      position: relative;
      fill: color('black');
      display: inline-block;
    }
  }

  button {
    margin-left: -7px;
  }

  .filters-container {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    display: none;
    position: absolute;
    padding-top: $padding-md;
    padding-bottom: $padding-md;
    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      position: absolute;
      background-color: rgba(color('white'),.95);
    }

    > * {
      position: relative;
    }

    @include media-md {
      padding-top: 0;
      padding-left: columns(2,16);
    }
  }

  .filter-group {
    ul {
      @extend .semantic-list;

      li {
        + li {
          margin-top: $beat * 2;
        }
      }
    }

    @include media-md {
      float: left;
      min-width: 190px;
      max-width: columns(3,16);
      padding-right: columns(1,16);
    }
  }

  .group-label {
    @include h4;
    margin: 0 0 #{$beat * 2};
  }

  button.filter {
    @extend .button-reset;
    @include p1;
    position: relative;

    &:hover {
      text-decoration: underline;
    }

    .icon {
      top: 6px;
      width: 7px;
      height: 7px;
      display: none;
      right: -$beat;
      position: absolute;
      fill: color('black');
    }

    &.is-checked {
      text-decoration: underline;
      .icon {
        display: block;
      }
    }
  }

  .filters-close {
    @extend .button-reset;
    @include p1;
    top: 0;
    right: 0;
    margin-top: -7px;
    position: absolute;
    text-decoration: underline;
    transform: translateX(100%) rotate(90deg);
    transform-origin: top left;
  }
}