// Form Elements

form {
  input {
    @include p1;
    @extend .input-reset;
    padding: 0 12px;
    line-height: 40px;
    border-radius: 4px;
    color: color('white');
    background-color: rgba(color('gray-dark'),.25);
  }

  .input-wrap {
    position: relative;

    &.-focus,
    &.-filled {
      label {
        display: none;
      }
    }

    input {
      width: 100%;
    }

    label {
      @include p1;
      top: 12px;
      left: 12px;
      position: absolute;
      color: color('white');
    }
  }
}